body {
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Quicksand !important;
}


.root2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

}

.theTwoBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .firstColumn{
    display:flex;
    flex-direction: column;
    align-items: center;
} */

.message {
    border-style: solid;
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border-width: 0.5px;
    font-family: Quicksand;
    
    box-sizing: border-box;
    background-image: linear-gradient(90deg, #DAEAF1 50%,#FFE6E6);
}
.lightUp{
    border-width: 10px;
    border-color: #FF6B6B;
    box-sizing: border-box;
    transition: 0.7s;


}

.timer {
    box-sizing: border-box;
    border-radius: 44%;
    height: 200px;
    width: 150px;
    display: flex;
    align-items: center;
    
    justify-content: center;
    /* min-height: 100vh; */
    color: #15181c;
    font-family: Ubuntu;
    font-size: 13vmin;
    text-align: center;
    background: radial-gradient(#DAEAF1, #143F6B );
}

/* .timer::before, */
.timer::after {
    content: "";
    width: 150px;
    animation: countdown 4s step-end infinite;
}

/* body::after {
    animation-duration: 4s;
} */

@keyframes countdown {
    0% {
        content: "4";
    }

    25% {
        content: "3";
    }

    50% {
        content: "2";
    }

    75% {
        content: "1";
    }

    /* 100% {
      content: "0";
    } */

}

.just-the-chart {
    /* height: 100vh; */
    width: 45vw;
}


.theTwoBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 136px;
    width: 100vw;
    font-family: Ubuntu;

}

.reset-button {
    width: 150px;
    height: 50px;
    border-radius: 13%;
    background-color: #0AA1DD;
    /* opacity: 0.9; */
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #646971;
    font-family: Ubuntu;

}

button {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: #0AA1DD;
    opacity: 0.9;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
    
    background-image: linear-gradient(144deg,#143F6B, #DAEAF1 50%,#FFE6E6);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #646971;
    display: flex;
    
    font-size: 20px;
    
    line-height: 1em;
    
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    
    font-family: Ubuntu;

}


.body {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    
}

.mainPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-family: Ubuntu;
    height: 280px;
    
}

.secondRow {
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    font-family: Ubuntu;


}

/* 
.placingMoney {
    height: 50px;
    width: 220px;
    font-size: 20px;
    text-align: center;
    font-family: Ubuntu;

    box-sizing: border-box;
    /* border-radius: 50%; */
/* } */

.fundBox, .placingMoney{
    border-style: solid;
    height: 50px;
    width: 220px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-width: 1px;
    box-sizing: border-box;
    font-family: Ubuntu;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;

    overflow: scroll
}

.differentAmount {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

#theSpecialDiv{
    display: flex;
    flex-direction: row;
    border-style: solid;
    height: 80px;
    width: 300px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-width: 1px;
    box-sizing: border-box;
    font-family: Ubuntu;

}



.differentAmount div, #theSpecialDiv {

    border-style: solid;
    height: 50px;
    width: 135px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-width: 1px;
    box-sizing: border-box;
    font-family: Ubuntu;
    

    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    /* color: #3c4043; */
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
   
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: auto; */
    will-change: transform,opacity;
    z-index: 0;
    
}


.placingBet {
    /* border-style: solid !important;
    border-color: #94B49F !important;
    border-width: 10px !important; */
    transition: 1s;
    border-radius: 10%;

}

.choseASide {
    border-style: solid !important;
    border-color: #DFF6FF !important;
    border-width: 15px !important;
    transition: 0.5s;
    border-radius: 10%;
}


#readyToWin {
    border-style: solid;
    height: 50px;
    width: 500px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-width: 1px;
    box-sizing: border-box;
    font-family: Ubuntu;
    

    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    /* color: #3c4043; */
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    /* font-family: "Google Sans",Roboto,Arial,sans-serif; */
    font-size: 30px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: auto; */
    will-change: transform,opacity;
    z-index: 0;

}

.confirmedBet {
   
    transition: 0.7s;

    border-width: 10px;
    /* border-color: #FF6B6B; */
    border-color: #5B7DB1;
    box-sizing: border-box;
    /* color: #E8F9FD; */
    font-size: xx-large;
    font-family: Ubuntu;



}



#displayWager {
    border-left: none;
}



.glowing {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.glowing:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-glowing 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glowing:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}